extends ../layout

block content
  h1= title
  p Welcome to #{title}
  - for patients in data
    button
      a(href='/patients/#{patients.id}') #{patients["name"]}
  form(method="get", action="/patients/new")
    input(type="submit" value="Add new Patient")
